
body{
  box-sizing: border-box;
  display: block;
  padding: 15px;
  border-radius: 12px;
  border: 2px solid black;
  text-align: center;
  margin: 15%;
}


.button{
  outline:none;
  border: none;
  display: inline-block;
  padding: 10px 15px;
  background-color: #400080;
  font-size: 2.2 rem;
  border-radius: 12px;
  position: relative;
  top: -3px;
  color: white;
 }

.button:hover {
    background: #790ae0;
}

header a{
  float: left;
}
.timer{
 float: right;
 white-space: pre;
}


ul{
  text-align: center;
  display: list-item;
  list-style-type: none;
  }


#highscores-list{
text-align: left;
  list-style-position: inside;
  display: block;
  margin-left: 40%;
 margin-right: 40%;
  font-size: 18px;
}
  
 
  


  


